<!--==========================
  About Section
  ============================-->
<section id="about">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Sobre el autor</h3>

      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">



      <div class="col-md-6">
        <div class="col-md-12 about-img"></div>

      </div>

      <div class="col-md-6">


        <div class="col-md-12 about-content">
          <h4 class="about-title">Ricard Ribatallada</h4>
          <p class="about-text ">
            Ricard Ribatallada, nacido en 1989, es ingeniero aeronáutico y consultor de profesión. Actualmente reside en Londres. En
            junio de 2016 decidió dejar de lado su carrera profesional (por unos meses) para dedicarse plenamente a la escritura
            y publicación de Téradam.
          </p>
          <p class="about-text">
            Con la intención de publicar la novela cuanto antes, se pasa los días encerrado y escribiendo (lo cual está degenerando en
            paranoia, locura y comportamientos erráticos… Pero aparte de eso, está bien). ¿Lo mejor de todo? Pues que ya
            ha empezado a escribir la segunda parte de Téradam. Puedes seguir toda la experiencia de Ricard y su camino para
            convertirse en escritor en Youtube (VLOG: Cómo me volví escritor).
          </p>
          <p class="about-text">
            Ricard aprendió a escribir de pequeño (como todo el mundo), pero perfeccionó su técnica en la Escola d’Escriptura del Ateneu
            Barcelonés, donde estudió narrativa, Novela I y Novela II durante tres años a la vez que cursaba ingeniería aeronáutica.
            Entre sus títulos se encuentran “El darrer Sant Jordi”, un thriller fantástico escrito como Treball de recerca
            para el IES Forat del Vent, y el relato corto, “Salvador”, recogido en el recopilatorio IX Premi Juvenil de Narrativa
            Breve Penya Joan Santamaria, Contes 2004.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>