<!--==========================
  Header Section
  ============================-->
<header id="header" style="background:rgb(37, 37, 37);">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="/">
        <img src="{{logo}}" alt="{{logoCaption}}" title="{{logoTitle}}"></img>
      </a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu">
          <a href="/">Home</a>
        </li>

        <li>
          <a href="/">Descubre Téradam</a>
        </li>
        {{!--
        <li>
          <a href="#testimonials">Happy patients</a>
        </li> --}}
        <li>
          <a href="/">Sobre el autor</a>
        </li>
        <li>
          <a href="/">Contacto</a>
        </li>
        <li class="menu-active">
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<!-- #header -->