<!--==========================
  Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Our Treatments</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Check out all the podiatry treatments available at the Beute Clinic*</p>
      </div>
    </div>

    <div class="row">


      <div class="col-md-4 hold">
        <div class="col-md-12 box">

          <div class="col-xs-12">

            <h4 class="service-title">
              <a href="#contact">First Visit and Assessment</a>
            </h4>
            <p class="service-description">One hour medical assessment and treatment. This appointment will help determine the length of time required for
              any future treatments.</p>

            <p class="service-description collapse" id="collapse1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis sit eaque natus facere nihil! Commodi vitae
              obcaecati doloremque consequatur esse saepe dolor minima voluptatibus, odit, tenetur corporis voluptates reprehenderit
              modi nihil hic fuga cupiditate mollitia sint excepturi perspiciatis nemo? Minima dolor consectetur qui sunt
              iusto iste illo, voluptas voluptate ut ab aliquid unde incidunt soluta eaque quibusdam vero id voluptates?</p>

            <div class="text-center">
              <button class="service-description btn btn-collapse pulse" type="button" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="false" aria-controls="collapse1">
                MORE
              </button>


            </div>



            {{!--
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div> --}}


          </div>

        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Repeat Visit</a>
            </h4>
            <p class="service-description">A 30 minute routine treatment. 60</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Pronto</a>
            </h4>
            <p class="service-description">A 20 minute appointment for nail care or the treatment of a single problem area ie: a corn (Note: the Pronto
              service is only offered to patients who have completed a First Visit Assessment).</p>
          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer"></div>



      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Medi Pedi</a>
            </h4>
            <p class=" service-description ">A medical pedicure is the combining of podiatric care and a beauty treatment. The medical pedicure (“medi pedi”
              or “medicure”), is a non-invasive treatment that focuses on the hygienic and aesthetic care of toenails and
              skin. The Medi-Pedi is performed in a private medical setting, and addresses unsightly and uncomfortable conditions
              such as:
              <strong> athlete’s foot, corns, calluses, dry, cracked heels, fungus, ingrown/overgrown toenails, nail discoloration</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact">Diabetic Foot Assessment</a>
            </h4>
            <p class="service-description ">A 20 minute foot assessment using ultrasound to measure the amount of blood flow to the feet; together with a
              test to check for any loss of protective sensation. A full report of the assessment is provided.</p>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact">Nail surgery</a>
            </h4>
            <p class="service-description">A one hour appointment to remove the whole or part of the effected toe nail. A chemical called phenol is used
              to ensure the offending portion of nail does not grow back. Nail surgery without phenalisation is also provided.
              Patients are assessed for suitability of surgery and referred to the hospital if deemed unsuitable.</p>
          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer "></div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact">Verruca Treatment</a>
            </h4>
            <p class="service-description">In this 30 minute session, liquid nitrogen and salicylic acid is used to freeze/thaw and destroy the skin cells
              affected by the verruca virus. After treatment, a sore blister will form, followed by a scab, which will detach
              7-10 days later. This usually takes 15- 20 minutes. Treatments are usually spaced a week apart.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title ">
              <a href="#contact">Biomechanical Assessment</a>
            </h4>
            <p class="service-description ">Examines the manor in which feet function when weight bearing and non weight bearing as well as during gait.
              This test checks for abnormalities and possible causes of pain in the foot, ankle, knees and lower back. Insoles
              or orthotics may be recommended.</p>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title">
              <a href="#contact">Orthotics</a>
            </h4>
            <p class="service-description ">A liner for your footwear to correct walking and reduce common biomechanical problems such as heel pain, to relieve
              stress from injured areas and provide support to overloaded joints. A wide variety of customised orthotics
              and pre-fabricated orthotics are available.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12 top-buffer"></div>



      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Nail surgery</a>
            </h4>
            <p class="service-description">A one hour appointment to remove the whole or part of the effected toe nail. A chemical called phenol is used
              to ensure the offending portion of nail does not grow back. Nail surgery without phenalisation is also provided.
              Patients are assessed for suitability of surgery and referred to the hospital if deemed unsuitable.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title ">
              <a href="#contact">Biomechanical Assessment</a>
            </h4>
            <p class="service-description ">Examines the manor in which feet function when weight bearing and non weight bearing as well as during gait.
              This test checks for abnormalities and possible causes of pain in the foot, ankle, knees and lower back. Insoles
              or orthotics may be recommended.</p>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title ">
              <a href="#contact">Redressing appointments</a>
            </h4>
            <p class="service-description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
        </div>
      </div>

      <div class="col-md-12 top-buffer"></div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 bottom-align-text ">
            <h5 class="cancellation ">*CANCELLATION POLICY:</h5>
            <p class="cancellation-p ">{{cancellationPolicy1}}</p>
            <p class="cancellation-p ">{{cancellationPolicy2}}</p>
            <p class="cancellation-p ">{{cancellationPolicy3}}</p>
          </div>
        </div>
      </div>


    </div>




  </div>


</section>