<!--==========================
  Services Section
  ============================-->
<section id="fleet">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Fleet</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">This is the fleet available at Gabarras &amp Servicios</p>
      </div>
    </div>

    <div class="row">


      <div class="col-md-4 hold">
        <div class="col-md-12 box grow">
          <div class="col-xs-12">
            <img class="image" src="public/img/bahia-de-getares.png" alt="Bahía de Getares">
            <h4 class="service-title">
              <a href="#contact">Bahía de Getares</a>
            </h4>
            <p class="service-description">Our new vessel, specially designed for provisioning, crew change and ready for anti pollution purposes.</p>
            <p class="service-description">Speedboat type, new built in steel. Fast and versatile boat type for provisioning, crew change or technical staff
              transport on board. Antipollution equipped with a skipper collection system as well as skimmers for product
              extraction and enough absorbent barriers for a first and effective reply. </p>
            <div id="collapse1" class="collapse">


              <ul class="technical-data service-description">
                <li>Registration: 5ª-AL-1/2016</li>
                <li>Call sign: EA5074</li>
                <li>Length: 25 m</li>
                <li>Breadth: 6.80 m</li>
                <li>Draft: 2.68 m</li>
                <li>G.T.: 99 Tn</li>
                <li>NIB: 416216</li>
                <li>Nº MMSI: 225985074</li>
                <li>Deck cargo area: 50 m²</li>
                <li>Cargo capacity: 40 Tn</li>
                <li>Number of tanks: 6</li>
                <li>Tanks capacity: 72 m³</li>
                <li>Passengers capacity: 12</li>
                <li>Activity: Lube oil, deck cargo, antipollution, off-limits, crew</li>
                <li>Propulsion: 2x368 Kw. - 1800 r.p.m.</li>
                <li>Antipollution means: Hydraulic central pump, power units, barriers anchor and collection, logistical support,
                  400m. absorbent boom</li>
              </ul>

            </div>

            <div class="row bottom-buffer">

              <div class="text-center col-xs-6 ">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  TECHNICAL DATA
                </button>


              </div>
              <div class="text-center col-xs-6">
                <button class="btn btn-collapse pulse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                  aria-controls="collapse1">
                  STATUS
                </button>


              </div>


            </div>





          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box grow">
          <div class="col-xs-12">
            <img class="image" src="public/img/aitana-del-carmen.png" alt="Aitana del Carmen">
            <h4 class="service-title">
              <a href="#contact">Aitana del Carmen</a>
            </h4>
            <p class="service-description">Tug vessel type dedicated to supplies transport both for vessels anchored and off-limits.</p>
            <p class="service-description">Steel made towing vessel dedicated to supplies and provisions transport both for anchored ships and out port
              limits. Endowment: 3 crew. The lube oil supply is carried out both in containers on deck and also when lube
              in bulk we stock it in specially designed tanks with nonstructural double tanks. </p>
            <div id="collapse2" class="collapse">


              <ul class="technical-data service-description">
                <li>Registration: 5ª-SE-2-3/2007</li>
                <li>Call sign: EDCN</li>
                <li>Length: 27 m</li>
                <li>Breadth: 7.70 m</li>
                <li>Draft: 3.16 m</li>
                <li>G.T.: 161 Tn</li>
                <li>NIB: 295</li>
                <li>Nº MMSI: 224131460</li>
                <li>Deck cargo area: 40 m²</li>
                <li>Cargo capacity: 40 Tn</li>
                <li>Number of tanks: 4</li>
                <li>Tanks capacity: 66.50 m³</li>
                <li>Passengers capacity: 12</li>
                <li>Activity: Lube oil, deck cargo, antipollution services and off-limits</li>
                <li>Propulsion: 1x662 Kw. - 1800 r.p.m.</li>
                <li>Antipollution means: Hydraulic central pump, skimmers, power unit, barriers anchor and collection, logistical
                  support
                </li>
              </ul>

            </div>

            <div class="row bottom-buffer2">

              <div class="text-center col-xs-6 ">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  TECHNICAL DATA
                </button>


              </div>
              <div class="text-center col-xs-6">
                <button class="btn btn-collapse pulse" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                  aria-controls="collapse2">
                  STATUS
                </button>


              </div>


            </div>





          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box grow">
          <div class="col-xs-12">
            <img class="image" src="public/img/avelina.png" alt="Avelina">
            <h4 class="service-title">
              <a href="#contact">Avelina</a>
            </h4>
            <p class="service-description">Cistern-cargo type ship specially designed for large liquid supplies such as lubricants and fresh water.</p>
            <p class="service-description">Steel made cistern-cargo type ship specially designed for liquid bulk supply such as lubricants and fresh water
              stored in nonstructural double tank. she has also has a large deck for supplies and huge components and anchor
              equipment for lifting heavy weights.</p>
            <div id="collapse3" class="collapse">


              <ul class="technical-data service-description">
                <li>Registration: 2ª-BI-3-1/2004</li>
                <li>Call sign: EAHH</li>
                <li>Length: 39.98 m</li>
                <li>Breadth: 7.62 m</li>
                <li>Draft: 2.90 m</li>
                <li>G.T.: 247 Tn</li>
                <li>NIB: 2094</li>
                <li>Nº MMSI: 224121630</li>
                <li>Deck cargo area: 105 m²</li>
                <li>Cargo capacity: 60 Tn</li>
                <li>Number of tanks: 12</li>
                <li>Tanks capacity: 580 m³</li>
                <li>Passengers capacity: 12</li>
                <li>Activity: Lube oil, deck cargo, antipollution, off-limits, crew</li>
                <li>Propulsion: 1x400 Kw. - 1650 r.p.m.</li>
                <li>Antipollution means: Sweeping system (Sweeper), hydraulic central pump, power unit</li>
              </ul>

            </div>

            <div class="row bottom-buffer3">

              <div class="text-center col-xs-6 ">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  TECHNICAL DATA
                </button>


              </div>
              <div class="text-center col-xs-6">
                <button class="btn btn-collapse pulse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                  aria-controls="collapse1">
                  STATUS
                </button>


              </div>


            </div>





          </div>
        </div>
      </div>

      <div class="col-md-12 top-buffer"></div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box grow">
          <div class="col-xs-12">
            <img class="image" src="public/img/san-francisco.png" alt="San Francisco">
            <h4 class="service-title">
              <a href="#contact">San Francisco</a>
            </h4>
            <p class="service-description">Boat type, fast and versatile for provisioning, crew change and ready for anti pollution purposes.</p>
            <p class="service-description">Speedboat type, built in steel and completely renovated superstructure by our workshop staff company, fast and
              versatile boat type for provisioning, crew change and antipollution equipped with a skipper collection system
              as well as skimmers for product extraction and enough absorbent barriers for a first reply.</p>
            <div id="collapse4" class="collapse">


              <ul class="technical-data service-description">
                <li>Registration: 5ª-IB-1-3/2009</li>
                <li>Call sign: EFXF</li>
                <li>Length: 21.9 m</li>
                <li>Breadth: 6.6 m</li>
                <li>Draft: 1.47 m</li>
                <li>G.T.: 79.46 Tn</li>
                <li>NIB: 21255</li>
                <li>Nº MMSI: 224226000</li>
                <li>Deck cargo area: 40 m²</li>
                <li>Cargo capacity: 30 Tn</li>
                <li>Number of tanks: 1</li>
                <li>Tanks capacity: 15 m³</li>
                <li>Passengers capacity: 12</li>
                <li>Activity: Crew, lube oil, deck cargo, antipollution services</li>
                <li>Propulsion: 2x357 Kw. - 1800 r.p.m.</li>
                <li>Antipollution means: Sweeping system (Sweeper), hydraulic central pump, skimmers, power unit, 300 mts. absorbent
                  boom
                </li>
              </ul>

            </div>

            <div class="row bottom-buffer4">

              <div class="text-center col-xs-6 ">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  TECHNICAL DATA
                </button>


              </div>
              <div class="text-center col-xs-6">
                <button class="btn btn-collapse pulse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                  aria-controls="collapse1">
                  STATUS
                </button>


              </div>


            </div>





          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box grow">
          <div class="col-xs-12">
            <img class="image" src="public/img/limpiamar-algeciras.png" alt="Limpiamar Algeciras">
            <h4 class="service-title">
              <a href="#contact">Limpiamar Algeciras</a>
            </h4>
            <p class="service-description">Excellent maneuverability barge type, especially designed for specific jobs such as: underwater works, chain
              and anchor changes and pollution.</p>
            <p class="service-description">Barge type schottel propeller system, which can guarantee great maneuverability. Very versatile barge, steel
              made and especially designed for specific jobs such as: underwater works, anchor and chain changes (providing
              a big chains box in the central area for this purpose), antipollution services providing a huge excellent special
              equipment for this activity besides perfectly trained crew for this type of work.</p>
            <div id="collapse5" class="collapse">


              <ul class="technical-data service-description">
                <li>Registration: 5ª AL-2-2-1991</li>
                <li>Call sign:</li>
                <li>Length: 20.75 m</li>
                <li>Breadth: 5.50 m</li>
                <li>Draft: 2.12 m</li>
                <li>G.T.: 99 Tn</li>
                <li>NIB: 26143</li>
                <li>Nº MMSI: 224229890</li>
                <li>Deck cargo area: 24 m²</li>
                <li>Cargo capacity: 15 Tn</li>
                <li>Number of tanks: 6</li>
                <li>Tanks capacity: 250 m³</li>
                <li>Passengers capacity: 12</li>
                <li>Activity: Crew, lube oil, deck cargo, antipollution services, anchor and chains change</li>
                <li>Propulsion: 1x357 Kw.– 1800 r.p.m.</li>
                <li>Antipollution means: Double sweeping system (Sweeper), hydraulic central pump, skimmers, power unit/li>
              </ul>

            </div>

            <div class="row bottom-buffer">

              <div class="text-center col-xs-6 ">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  TECHNICAL DATA
                </button>


              </div>
              <div class="text-center col-xs-6">
                <button class="btn btn-collapse pulse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                  aria-controls="collapse1">
                  STATUS
                </button>


              </div>


            </div>





          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box grow">
          <div class="col-xs-12">
            <img class="image" src="public/img/isla-verde.png" alt="Isla Verde V">
            <h4 class="service-title">
              <a href="#contact">Isla Verde V</a>
            </h4>
            <p class="service-description">Boat type specially designed for goods delivery and trips transport to vessels at anchor.</p>
            <p class="service-description" style="min-height: 192px;">Launch type specially designed for little goods the delivery and crew transport to anchored vessels.</p>
            <div id="collapse6" class="collapse">


              <ul class="technical-data service-description">
                <li>Registration: 5ª AL-2/1995</li>
                <li>Call sign: </li>
                <li>Length: 14 m</li>
                <li>Breadth: 3.90 m</li>
                <li>Draft: 1.80 m</li>
                <li>G.T.: 18.55 Tn</li>
                <li>NIB: 118692</li>
                <li>Nº MMSI: 224229880</li>
                <li>Deck cargo area: 10 m²</li>
                <li>Cargo capacity: 2 Tn</li>
                <li>Number of tanks: n/a</li>
                <li>Tanks capacity: n/a</li>
                <li>Passengers capacity: 7</li>
                <li>Activity: Crew, general cargo, antipollution services.</li>
                <li>Antipollution means: Anchor and collection of barriers, logistical support, skymer</li>
              </ul>

            </div>

            <div class="row bottom-buffer4">

              <div class="text-center col-xs-6">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  TECHNICAL DATA
                </button>


              </div>
              <div class="text-center col-xs-6">
                <button class="btn btn-collapse pulse" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                  aria-controls="collapse6">
                  STATUS
                </button>


              </div>


            </div>





          </div>
        </div>
      </div>

      <div class="col-md-12 top-buffer"></div>


      <div class="col-md-4 hold"></div>
      <div class="col-md-4 hold">
        <div class="col-md-12 box grow">
          <div class="col-xs-12">
            <img class="image" src="public/img/diving-ship.png" alt="Diving ship">
            <h4 class="service-title">
              <a href="#contact">Diving ship</a>
            </h4>
            <p class="service-description">Steel body cargo ship type especially designed for supplies and provisioning, as well as crew change or technicians
              boarding.
            </p>
            <p class="service-description">Steel made cargo vessel type specially designed for supplies and provisioning, the tanks are double tank type,
              nonstructural, specially adapted for underwater works, having a clear deck and hydraulic equipment for UW machinery
              operation. She is also very suitable for crew change or technical staff transport on board.</p>
            <div id="collapse7" class="collapse">


              <ul class="technical-data service-description">
                <li>Registration: 1ª AL- 2/2/2003</li>
                <li>Call sign: EA3517</li>
                <li>Length: 23.63 m</li>
                <li>Breadth: 5.49 m</li>
                <li>Draft: 2.13 m</li>
                <li>G.T.: 62,18 Tn</li>
                <li>NIB: 173311</li>
                <li>Nº MMSI: 224094450</li>
                <li>Deck cargo area: 32 m²</li>
                <li>Cargo capacity: 25 Tn</li>
                <li>Number of tanks: 3</li>
                <li>Tanks capacity: 35 m³</li>
                <li>Passengers capacity: 12</li>
                <li>Activity: Lube oil, deck cargo, antipollution, off-limits, crew</li>
                <li>Propulsion: 1x294 Kw. – 2100 r.p.m.</li>
                <li>Antipollution means: Sweeping system (Sweeper), hydraulic central pump, skimmers, power unit</li>
              </ul>

            </div>

            <div class="row bottom-buffer">

              <div class="text-center col-xs-6 ">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  TECHNICAL DATA
                </button>


              </div>
              <div class="text-center col-xs-6">
                <button class="btn btn-collapse pulse" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false"
                  aria-controls="collapse7">
                  STATUS
                </button>


              </div>


            </div>





          </div>
        </div>
      </div>
      <div class="col-md-4 hold"></div>

    </div>




  </div>


</section>