<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{> header}} {{!--
      <div class="hero-logo">
        <img class="" src="{{logo}}" alt="Teradam logo">
      </div> --}}
      <h1>{{h1Title}}</h1>
      <h2>Una novela de Ricard Ribatallada

      </h2>
      <div class="container">
        <p class="hero-text">
          Siro hace demasiadas noches que observa la aparición de la Gran Luz con desesperación. El único deseo del joven es cumplir
          con la promesa de entrar en la ciudad de Téradam, oculta detrás de esa luz cegadora, y reunirse de nuevo con Líduvin,
          la mujer que lo crió de pequeño y a la que hace años que no ve. Pero el acceso a la ciudad parece imposible… Sólo
          los Hijos de la Luz pueden abrir las puertas.
        </p>

        <p class="hero-text">
          Un día, en plena cacería por el desierto, Siro se encuentra con Matildet, una chica que parece provenir de esa ciudad. El
          cazador decide acogerla en su cueva, con la esperanza de que le ayude a entrar en Téradam, pero la Hija de la Luz
          quiere algo a cambio: encontrar a los demás habitantes del desierto.
        </p>
        <p align="center" class="hero-last-text">
          Siro acepta, pero… ¿queda alguien más ahí fuera aparte de las Bestias?
        </p>
      </div>

      <div class="actions" style="margin-bottom:50px;">
        <a href="#muestra" class="btn-get-started">Leer más</a>
        <a href="#services" class="btn-services">Comprar</a>
      </div>





    </div>
  </div>


</section>