<!--==========================
  Maps Section
  ============================-->


<section id="maps-section">
  <div class="container map">
    <div class="row justify-content-md-center">
      <div class="col-xs-12">
        <p>
          <a href="{{map_link}}">
            <strong>{{pageTitle}}</strong> {{address}}</a>
        </p>
      </div>
    </div>
  </div>


  <div id="map">
  </div>
  <script>
    function initMap() {
      var uluru = { lat: 51.420501, lng: -1.726128 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAILk-KjSRSeXsJYn7GF82mLUWR0qZ9N_k&callback=initMap">
  </script>
</section>