<!--==========================
  About Section
  ============================-->
<section id="muestra">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">

        <h3 class="section-title">Descubre Téradam</h3>
        <p align="center" class="about-content">
          ¿Por qué no le echas un vistazo a las primeras páginas de Téradam...?
        </p>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">





      <div class="col-md-12">


        <div class="col-md-12 about-content" style="background:transparent;">
          <h4 class="about-title">Prólogo: ¿Los hemos encontrado...?</h4>
          <p class="about-text ">
            —Siro, no me lo puedo creer… —exclamó Matildet—. ¡Los hemos encontrado!
            <br/> —¡Ssshh! —repuso él, con un dedo delante de los labios. La Hija de la Luz lo miró con ojos desconcertados.
            <br/>—¡Ey, a mí no me hagas callar! —se enfadó ella.
            <br/>—Silencio —murmuró—. Pueden andar cerca. Siro no sabía quiénes eran, sólo que habían dejado un rastro más que
            evidente. Había restos de una hoguera a poca distancia del estanque.
            <br/>En el suelo ennegrecido quedaban unas cuantas costillas de jabalí mordisqueadas. Por encima de ellas, la calavera
            del animal colgaba de un palo oscuro sujeto por dos ramas. El joven vio una bolsa de cuero que había al otro
            extremo del palo. La agarró sin pensárselo dos veces. La abrió y hurgó con la mano hasta encontrar algo viscoso.
            <br/> —Vámonos —dijo Siro—. No son personas.
            <br/>—¿Estás loco? —preguntó Matildet—. ¡Claro que son personas! A no ser que los monos de este oasis hayan aprendido
            a encender un fuego en cuatro días —añadió con sorna.
            <br/>—No personas —repitió el joven y abrió la mano para dejarle ver lo que había encontrado—. Bestias.
            <br/>La Hija de la Luz se tapó la boca al ver uno de los ojos del jabalí en la mano del cazador. Se puso pálida de
            repente, como si nunca hubiese visto nada similar. El ojo era bien grande. Una ristra de venas colgaba de él
            y manchaban la mano del joven.
            <br/> —Para la próxima vez… —dijo Matildet, mientras recuperaba el aliento—. No es del tipo de sorpresas que me hacen
            gracia. Y me da igual lo que coman, ¡si están cerca, los encontraremos! Siro lanzó el ojo a las brasas y sacudió
            la cabeza.
            <br/>“Lo que tenemos que hacer es largarnos”, pensó. “Podrían estar observándonos ahora mismo”. Miró entre las hojas
            que los rodeaban, pero no vio a nadie. Tampoco se oía ningún ruido, aparte del salto de agua. Quizás habían tenido
            suerte y los habían pillado con la guardia baja. Tenían que aprovechar aquella oportunidad y desaparecer.
            <br/> —No podemos dejar que Bestias encuentren —murmuró Siro, comiéndose las palabras—. Ir ahora.
            <br/> —¿Bestias? —dijo Matildet, con una mueca confusa en la cara—. ¿Por qué nunca sé de lo que me hablas? Son personas
            y no pueden andar muy lejos. He visto huellas hacia ahí, entre las enredaderas. Sigámoslas.
            <br/>La Hija de la Luz se puso en marcha, pero se dio cuenta de que el joven no la seguía.
            <br/> —¿Les tienes miedo? —preguntó Matildet. Su tono no tenía rastro de burla. Siro movió la cabeza arriba y abajo
            poco a poco, como si el hecho de admitirlo le resultase vergonzoso.
            <br/> —…Y tú no le tienes miedo a nada, ¿verdad? —Matildet volvió hacia donde estaba.
            <br/>El joven notó el perfume de flores de luna que acompañaba a la Hija de la Luz. Los ojos de la chica le examinaban
            el rostro, como si le fuese imposible concebir algo capaz de asustar al cazador.
            <br/> —Tengo miedo de cosas —dijo Siro—. Bestias son una de ellas.
            <br/>Matildet se puso la mano en la barbilla y alternó la mirada entre el joven y la selva. El viento soplaba fuerte
            entre las ramas. La calavera del jabalí osciló alrededor del palo donde estaba clavada. La Hija de la Luz cogió
            al joven de la mano.
            <br/> —Tengo que ir, Siro. Sé que tú no quieres verlas, pero si hay personas…
            <br/>—No son personas… —la interrumpió, pero la chica insistía.
            <br/> —Has estado solo mucho tiempo y lo entiendo. Pero puede que no vuelva a tener una oportunidad como ésta. No
            te pido que vengas, sólo que me esperes aquí… Si quieres —añadió. Su tono se volvió suave por un momento—. Te
            agradezco todo lo que has hecho por mí. Yo… sé que a veces no pienso las cosas que hago… Siento lo que pasó en
            la cueva el otro día. No era mi intención.
            <br/>Los dedos de la Hija de la Luz se deslizaron por su mano.
            <br/> —Te prometo que volveré —le dijo—. Tenemos un pacto.
          </p>

          <div class="top-buffer" style="height:40px;"></div>

        </div>
      </div>
    </div>

  </div>
</section>